/* Todo List */
.todo-list-container {
    width: 18rem;
    height: 12rem;
    border: 2px solid #ddd;
    border-radius: 0.5rem;
    margin-top: 1rem;
    padding: 1rem;
}

.todo-title {
    color: #555;
    margin-bottom: 1rem;
}

.todo-list-container li {
    list-style: none;
    color:rgb(223, 107, 192);
    font-size: 1.2rem;
    margin: 0.5rem;
}